:root {
  --bg-color: #ecf0f3;
  --wrapper-shadow: -10px 10px 20px #dbdfe2, 10px -10px 20px #fdffff;
  --btn-shadow: -5px 5px 10px #c4c7ca, 5px -5px 10px #ffffff;
  --btn-shadow-inset: inset -5px 5px 10px #c4c7ca, inset 5px -5px 10px #ffffff;
  --board-shadow-inset: inset -5px 5px 8px #d4d8db, inset 5px -5px 8px #ffffff;

  --color: #243441;
  --border-radius: 20px;
  --setting-btn-color: #f88ab0;
  --block-size: 25px;
  --button-size: 55px;
  --game-width: 414px;
  --game-height: 736px;
}

/* ----- For dark mode ------ */
.dark {
  --bg-color: #243441;
  --color: #0affef;
  --setting-btn-color: #f88ab0;
  --wrapper-shadow: -10px 10px 10px #1f2d39, 10px -10px 10px #293b49;
  --btn-shadow: -5px 5px 10px #1f2d39, 5px -5px 10px #293b49;
  --btn-shadow-inset: inset -5px 5px 10px #1f2d39, inset 5px -5px 10px #293b49;
  --board-shadow-inset: inset -5px 5px 8px #21303c, inset 5px -5px 8px #273846;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: 'Krona One', sans-serif;
  height: 100vh;
  background-color: var(--bg-color);
  overflow: hidden;
  user-select: none;
}


