:root {
  --bg-color: #ecf0f3;
  --wrapper-shadow: -10px 10px 20px #dbdfe2, 10px -10px 20px #fdffff;
  --btn-shadow: -5px 5px 10px #c4c7ca, 5px -5px 10px #ffffff;
  --btn-shadow-inset: inset -5px 5px 10px #c4c7ca, inset 5px -5px 10px #ffffff;
  --board-shadow-inset: inset -5px 5px 8px #d4d8db, inset 5px -5px 8px #ffffff;

  --color: #243441;
  --border-radius: 20px;
  --setting-btn-color: #f88ab0;
  --block-size: 2rem;
  --button-size: 5.5rem;
  --game-width: 35rem;
  --game-height: 73rem;
}

/* ----- For dark mode ------ */
.dark {
  --bg-color: #243441;
  --color: #0affef;
  --setting-btn-color: #f88ab0;
  --wrapper-shadow: -10px 10px 10px #1f2d39, 10px -10px 10px #293b49;
  --btn-shadow: -5px 5px 10px #1f2d39, 5px -5px 10px #293b49;
  --btn-shadow-inset: inset -5px 5px 10px #1f2d39, inset 5px -5px 10px #293b49;
  --board-shadow-inset: inset -5px 5px 8px #21303c, inset 5px -5px 8px #273846;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  font-size: 62.5%;
  font-family: 'Krona One', sans-serif;
  height: 100vh;
  background-color: var(--bg-color);
  overflow: hidden;
  user-select: none;
}

.container {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-wrapper {
  position: relative;
  z-index: 99;
  width: 100%;
  height: 95%;
  max-width: var(--game-width);
  max-height: var(--game-height);
  background-color: var(--bg-color);
  box-shadow: var(--wrapper-shadow);
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.infor-section {
  position: relative;
  text-align: center;
  font-weight: 600;
  padding: 2rem;
  font-size: 2.5rem;
  color: var(--color);
}

.infor-section #level {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 3rem;
  font-size: 1.8rem;
}

.board-section {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  margin: auto;
  padding: 1rem;
  box-shadow: var(--board-shadow-inset);
  border-radius: 1rem;
}

.block {
  width: var(--block-size);
  height: var(--block-size);
  border: 0.1px solid var(--bg-color);
}

.setting-section {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.setting-section button {
  margin: 0 1rem;
  color: var(--setting-btn-color);
}

i.bxs-sun {
  display: none;
}

i.bxs-moon {
  display: block;
}

.btn {
  width: var(--button-size);
  height: var(--button-size);
  box-shadow: var(--btn-shadow);
  border-radius: 2.5rem;
  font-weight: 600;
  font-size: 3rem;
  color: var(--color);
  outline: none;
  border: none;
  background-color: var(--bg-color);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn--large {
  width: 8rem;
  height: 8rem;
  font-size: 3rem;
}

.btn:active {
  box-shadow: var(--btn-shadow-inset);
}

.control-section {
  display: none;
  margin-left: 3.5rem;
}

.col {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  padding-left: 4rem;
}

.col:nth-child(1) {
  width: 40%;
}

.col:nth-child(2) {
  width: 60%;
}

.arrow-control {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.4rem;
}

@media only screen and (max-width: 430px) {
  :root {
    --block-size: 1.8rem;
  }

  .game-wrapper {
    height: 100%;
    max-width: 100%;
  }

  .control-section {
    display: flex;
  }

  .setting-section {
    position: absolute;
    flex-direction: column;
    bottom: unset;
    top: 50%;
    transform: translateY(-50%);
    right: 1.8rem;
    padding: unset;
    row-gap: 1.8rem;
  }
}
